<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Nuevo Turno Lavadero oPreto</title>



    <style>

    </style>




    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

    <link rel="stylesheet" href="/estiloRegistroLavados.css">




    <script>



    </script>




</head>

<body>





    <!------------------- Animacion auto y nombre pagina----------------------------------------------*/ -->


    <div class="container-fluid"> <!----Container ppal-->

        <!------------------- Titulo----------------------------------------------*/ -->

        <div class="row">

            <h1>

                <img src="./iconos/auto.png" alt="">

                Lavados

            </h1>


        </div>


        <!----------------------------------------------------------------------------------------------------------*/  -->



        <!------------------- Nuevo Lavado----------------------------------------------*/ -->


        <div class="row">



            <div class="container col-12">


                <fieldset id="fieldSet">

                    <legend class="reset">
                        <h2>

                            <img class="burbujas" src="./iconos/burbujas.png">
                            Registros del dia

                        </h2>
                    </legend>


                    <table class="table table-striped mt-5">

                        <ul class="nav nav-tabs" style="font-style: italic">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#"
                                    style="color: whitesmoke; background-color: rgb(173, 173, 11);">Esperando</a>

                                    <div class="borde">
                                    

                                        <label for="email">N° Lavado:</label>
                                     <input type="email" id="email" class="my-input" placeholder="" required size="1px">
    
                                     <label for="email">Hora:</label>
                                     <input type="email" id="email" class="my-input" placeholder="" required size="1px">
    
                                     <label for="email">Patente:</label>
                                     <input type="email" id="email" class="my-input" placeholder="" required size="1px">
    
                                     
                                        
    
                                        <div class="borde2"><button type="button" class="my-buttonRegistroLavado">+info</button>
                                        </div>
    
                                        <div class="borde2"><button type="button" class="my-buttonRegistroLavado">Lavar</button>
                                        </div>
    
                                    </div>
    

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" style="color: whitesmoke; background-color: red;">Lavando</a>

                                <div class="borde">
                                    
                                    
                                    <label for="email">N° Lavado:</label>
                                 <input type="email" id="email" class="my-input" placeholder="" required size="1px">

                                 <label for="email">Hora:</label>
                                 <input type="email" id="email" class="my-input" placeholder="" required size="1px">

                                 <label for="email">Patente:</label>
                                 <input type="email" id="email" class="my-input" placeholder="" required size="1px">


                                    <div class="borde2"><button type="button" class="my-buttonRegistroLavado">+info</button>
                                    </div>

                                    <div class="borde2"><button type="button" class="my-buttonRegistroLavado">Terminar</button>
                                    </div>

                                </div>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" style="color: whitesmoke; background-color: green;">Terminados</a>

                                <div class="borde">
                                    

                                    <label for="email">N° Lavado:</label>
                                 <input type="email" id="email" class="my-input" placeholder="" required size="1px">

                                 <label for="email">Hora:</label>
                                 <input type="email" id="email" class="my-input" placeholder="" required size="1px">

                                 <label for="email">Patente:</label>
                                 <input type="email" id="email" class="my-input" placeholder="" required size="1px">

                                 

                                    <div class="borde2"><button type="button" class="my-buttonRegistroLavado">+info</button>
                                    

                                    <button type="button" class="my-buttonRegistroLavado">Entregar</button>
                                    </div>

                                </div>

                                <div class="borde">
                                    

                                    <label for="email">N° Lavado:</label>
                                 <input type="email" id="email" class="my-input" placeholder="" required size="1px">

                                 <label for="email">Hora:</label>
                                 <input type="email" id="email" class="my-input" placeholder="" required size="1px">

                                 <label for="email">Patente:</label>
                                 <input type="email" id="email" class="my-input" placeholder="" required size="1px">

                                 

                                    <div class="borde2"><button type="button" class="my-buttonRegistroLavado">+info</button>
                                    </div>

                                    <div class="borde2"><button type="button" class="my-buttonRegistroLavado">Entregar</button>
                                    </div>

                                </div>

                            </li>

                        </ul>


                        

                            
                                

                    </table>

                </fieldset>




            </div>

        </div>




    </div> <!----FIN Container ppal-->

</body>

</html>